%p
  = f.label :title
  %br/
  = f.text_field :title
%p
  - if @ticket.picture.present?
    = image_tag @ticket.picture.url(:medium)
    %br/      
    = f.check_box :remove_picture
    Remove attachment
  - else
    = f.file_field :picture
%p
  = f.label :attachment_name
  %br/
  = f.text_field :attachment_name
%p
  = f.label :description
  %br/
  = f.text_area :description
%p
  = f.label :priority
  %br/
  = f.select :priority, ['Low', 'Normal', 'High']
%p
  = f.label :difficulty
  %br/
  = f.select :difficulty, ['Easy', 'Medium','Hard']
%p
  = f.label :status
  %br/
  = f.select :status, ['Open', 'Closed', 'Canceled']
  %br/
  %br/
%p
  = f.submit