%p
  = f.label :title
  %br/
  = f.text_field :title
%p
  = f.label :description
  %br/
  = f.text_area :description
%p
  = f.label :priority
  %br/
  = f.text_field :priority
%p
  = f.label :difficulty
  %br/
  = f.text_field :difficulty
%p
  = f.label :status
  %br/
  = f.text_field :status
%p
  - if @ticket.picture.present?
    = image_tag @ticket.picture.url(:medium)
    %br/      
    = f.check_box :remove_picture
    Remove the picture
  - else
    = f.file_field :picture
%p
  = f.label :attachment_name
  %br/
  = f.text_field :attachment_name
%p
  = f.submit