%p
  %strong Title:
  = ticket.title
%p
  %strong Description:
  = ticket.description
%p
  %strong Priority:
  = ticket.priority
%p
  %strong Difficulty:
  = ticket.difficulty
%p
  %strong Status:
  = ticket.status