%h2 Tickets

= link_to 'Add a ticket', new_project_ticket_path

%br/
%br/
%table
  %tr
    %th Ticket's list:
    %th{:colspan => "5"}
  - @ticket.each do |ticket|
    %tr
      %td= ticket.title
      %td= link_to 'Show', [ticket.project, ticket]
      %td= link_to 'Edit', edit_project_ticket_path(@project, ticket)
      %td= link_to 'Destroy', [ticket.project, ticket], |
          method: :delete,                           |
          data: { confirm: 'Are you sure?' }

%br/
%br/
= link_to 'Back', project_path(@project)