.container
  %nav
    %ul.pagination
      %li= link_to '«', project_tickets_path(@project, @ticket)
      - if can? :ud, @ticket
        %li= link_to 'Edit', edit_project_ticket_path(@project, @ticket)
        %li= link_to 'Delete', [@ticket.project, @ticket], |
        method: :delete,                           |
        data: { confirm: 'Are you sure?' }         |
  %p
    %h1= @ticket.title
  %p
    %h5= @ticket.created_at.strftime("%e %B %Y, %k:%M")
    %br/
  %p
    = @ticket.attachment_name
    %br
    = image_tag @ticket.picture.url(:medium)
    %br
  %p
    = @ticket.description
  %p
    %strong Priority:
    = @ticket.priority
  %p
    %strong Difficulty:
    = @ticket.difficulty
  %p
    %strong Status:
    = @ticket.status
  %br/
  %br/