%p
  %h1= @ticket.title
%p
  %h5= @ticket.created_at.strftime("%e %B %Y, %k:%M")
  %br/
  %h5= link_to 'Back', project_tickets_path(@project, @ticket)
  %br/
%p
  %strong Description:
  = @ticket.description
%p
  %strong Priority:
  = @ticket.priority
%p
  %strong Difficulty:
  = @ticket.difficulty
%p
  %strong Status:
  = @ticket.status