%p
  %strong Title:
  = @project.title
%p
  %strong Description:
  = @project.description
  
%h2 Tickets
= render @project.tickets
  
%h2 Add a ticket:
= render 'tickets/form'
  
%br/
= link_to 'Back', projects_path