%p
  %strong Title:
  = @project.title
%p
  %strong Description:
  = @project.description
  
%h2 Add a ticket:
= form_for([@project, @project.tickets.build]) do |f|
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :description
    %br/
    = f.text_area :description
  %p
    = f.label :priority
    %br/
    = f.text_field :priority
  %p
    = f.label :difficulty
    %br/
    = f.text_field :difficulty
  %p
    = f.label :status
    %br/
    = f.text_field :status
  %p
    = f.submit
  
%br/
= link_to 'Back', projects_path